# function:

In [1]:
num=24
if num%2==0:
    print("the num is even")
else:
    print("the no is not even")

the num is even

In [3]:
def even_num(num):
    if num%2==0:
        print("the num is even")
    else:
        print("the no is not even")

In [4]:
even_num(20)

the num is even

In [6]:
#print vs return 
def hello_world():
    print("hello world")

In [7]:
hello_world()

hello world

In [8]:
val=hello_world()

hello world

In [9]:
# here value will be return is none
print(val)

None

In [10]:
def hello_world():
    return ("hello world")

In [11]:
# here it will gives value of it not the return none here:
val=hello_world()
print(val)

hello world

In [13]:
# name is positional argument and age is my keyword argument:

def hello(name,age=25):
    print("my name is {} and age is{}".format(name,age))

In [14]:
hello('sourabh bainsla')

my name is sourabh bainsla and age is25

In [2]:
def hello(*args,**kwargs):
    print(args)
    print(kwargs)

In [3]:
hello('sourabh',"bainsla",age=25,dob=1998)

('sourabh', 'bainsla')
{'age': 25, 'dob': 1998}

In [4]:
lst=['sourabh',"bainsla"]
dict={ 'age' : 25,'dob' : 1998}

In [5]:
hello(*lst,**dict)

('sourabh', 'bainsla')
{'age': 25, 'dob': 1998}

In [6]:
lst=[1,232,34,3,32,45,5,78,10]

In [7]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [8]:
evenoddsum(lst)

(386, 54)

# map:

In [9]:
def even_or_odd(num):
    if num%2==0:
        return"the number {} is even".format(num)
    else:
        return"the number {} is odd".format(num)

In [10]:
even_or_odd(35)

'the number 35 is odd'

In [11]:
lst=[1,232,34,3,32,45,5,78,10]

In [13]:
#map(function,iterationon which)
# reduce the work load for doing for loop for all: 

list(map(even_or_odd,lst))

['the number 1 is odd',
 'the number 232 is even',
 'the number 34 is even',
 'the number 3 is odd',
 'the number 32 is even',
 'the number 45 is odd',
 'the number 5 is odd',
 'the number 78 is even',
 'the number 10 is even']

# lambda function:

In [14]:
# it is basically an anonymous futn: a futn with no name:
def addition(a,b):
    return a+b

In [15]:
addition(34,54)

88

In [36]:
#using the same with lambda futn
# lambda= futn name=lambda valriable,operationalfut define
#use when only return has one operational futN not more than one:

In [37]:
addition=lambda a,b:a+b

In [38]:
addition(23,45)

68

In [39]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [40]:
even(35)

False

In [41]:
even=lambda a:a%2==0

In [42]:
even(23)

False

In [43]:
addition=lambda a,b,c:a+b+c

In [44]:
addition(23,54,67)

144

# filter function:

In [45]:
def even(num):
    if num%2==0:
        return True

In [46]:
lst=[23,53,564,43,53,532,56,7,88]

In [47]:
list(filter(even,lst))

[564, 532, 56, 88]

In [48]:
list(filter(lambda num:num%2==0,lst))

[564, 532, 56, 88]

In [49]:
list(map(lambda num:num%2==0,lst))

[False, False, True, False, False, True, True, False, True]

# list comprehension:

# list comp provide a concise way to create lists.it consists of brackets containing an expression follwed by a for
# clause,then zero or more for or if clauses.the expression can be anything,meaning you can put in all kinds of objects in lists:

In [51]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [52]:
lst_square(lst)

[529, 2809, 318096, 1849, 2809, 283024, 3136, 49, 7744]

In [54]:
lst=[1,2,3,5,6,7,8]

In [56]:
# i.e for list comprehension:
lst1=[i*i for i in lst]

In [57]:
print(lst1)

[1, 4, 9, 25, 36, 49, 64]

In [58]:
lst1=[i*i for i in lst if i%2!=0]

In [59]:
print(lst1)

[1, 9, 25, 49]