In [1]:
#Pandas: it is an open source,BSD-lic lib providing high-performance,easy to use data structureand data analysis
#tools for the python programming:

In [2]:
import pandas as pd
import numpy as np

In [7]:
##playing with Dataframe
df=pd.DataFrame(np.arange(0,30).reshape(6,5),index=["ROW1","ROW2","ROW3","ROW4","ROW5","ROW6"],columns=["col1","col2","col3","col4",'col5'])

In [8]:
df.head()

      col1  col2  col3  col4  col5
ROW1     0     1     2     3     4
ROW2     5     6     7     8     9
ROW3    10    11    12    13    14
ROW4    15    16    17    18    19
ROW5    20    21    22    23    24

In [11]:
df.to_csv("test1.csv")

In [12]:
df.head()

      col1  col2  col3  col4  col5
ROW1     0     1     2     3     4
ROW2     5     6     7     8     9
ROW3    10    11    12    13    14
ROW4    15    16    17    18    19
ROW5    20    21    22    23    24

In [16]:
##Accessing the elements
## 1. .LOC 2= .ILOC

type(df.loc['ROW1'])

pandas.core.series.Series

In [26]:
df[["col2","col4"]]

      col2  col4
ROW1     1     3
ROW2     6     8
ROW3    11    13
ROW4    16    18
ROW5    21    23
ROW6    26    28

In [29]:
df.loc[['ROW1','ROW5']]

      col1  col2  col3  col4  col5
ROW1     0     1     2     3     4
ROW5    20    21    22    23    24

In [17]:
df.loc['ROW1']

col1    0
col2    1
col3    2
col4    3
col5    4
Name: ROW1, dtype: int32

In [18]:
df.iloc[0:2,0:3]

      col1  col2  col3
ROW1     0     1     2
ROW2     5     6     7

In [19]:
type(df.iloc[0:2,0:3])

pandas.core.frame.DataFrame

In [20]:
# convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3,  4],
       [ 6,  7,  8,  9],
       [11, 12, 13, 14],
       [16, 17, 18, 19],
       [21, 22, 23, 24],
       [26, 27, 28, 29]])

In [22]:
df.iloc[:,1:].values.shape

(6, 4)

In [21]:
df['col1'].value_counts()

0     1
5     1
10    1
15    1
20    1
25    1
Name: col1, dtype: int64

In [23]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
col5    0
dtype: int64

In [24]:
df['col1'].unique()

array([ 0,  5, 10, 15, 20, 25])

In [36]:
#we can change (, in csv with other different special char as by using ,sep=":or;" as given in file: )
df=pd.read_csv('mercedesbenz.csv')

In [37]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [39]:
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
aq     18
am     18
i      18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [43]:
df[df['y']>200]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
883,1770,265.32,y,r,ai,f,d,ag,l,t,...,0,0,0,0,0,0,0,0,0,0

# csv

In [44]:
from io import StringIO,BytesIO

In [45]:
data=('col1,col2,col3\n'
     'x,y,1\n'
     'a,b,2\n'
     'c,d,3\n')

In [46]:
type(data)

str

In [47]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [48]:
##read from specific col:
df=pd.read_csv(StringIO(data),usecols=lambda x:x.upper()in['col1','col3'])

In [49]:
df

Empty DataFrame
Columns: []
Index: []

In [50]:
df=pd.read_csv(StringIO(data),usecols=['col1','col3'])

In [51]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [52]:
df.to_csv('test.csv')

In [53]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [54]:
## specifying col data types

In [55]:
data=('a,b,c,d\n'
     '1,2,3,4\n'
     '5,6,7,8\n'
     '9,10,11,12')

In [56]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [62]:
df=pd.read_csv(StringIO(data),dtype=object)

In [58]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [59]:
df['a'][1]

'5'

In [63]:
df=pd.read_csv(StringIO(data),dtype=float)

In [64]:
df

     a     b     c    d
0  1.0   2.0   3.0  4.0
1  5.0   6.0   7.0  8.0
2  9.0  10.0  11.0  NaN

In [65]:
df=pd.read_csv(StringIO(data),dtype={"b":int,"c":np.float})

C:\Users\User\AppData\Local\Temp\ipykernel_14796\3213646942.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df=pd.read_csv(StringIO(data),dtype={"b":int,"c":np.float})

In [66]:
df

   a   b     c    d
0  1   2   3.0  4.0
1  5   6   7.0  8.0
2  9  10  11.0  NaN

In [69]:
##chec tha datatype
df.dtypes

a      int64
b      int32
c    float64
d    float64
dtype: object

In [70]:
## index col and training delimiters:

In [71]:
data=('index,a,b,c\n'
     '4,apple,3.4,bat\n'
     '5,bull,7,orange\n'
     '9,10,11,12')

In [72]:
pd.read_csv(StringIO(data),index_col=0)

           a     b       c
index
4      apple   3.4     bat
5       bull   7.0  orange
9         10  11.0      12

In [73]:
data=('a,b,c\n'
     '4,2.4,bat\n'
     '5,bull,7')

In [76]:
pd.read_csv(StringIO(data))

   a     b    c
0  4   2.4  bat
1  5  bull    7

In [77]:
pd.read_csv(StringIO(data),index_col=False)

   a     b    c
0  4   2.4  bat
1  5  bull    7

In [78]:
##combining usecols and index_col
data=('a,b,c\n'
     '4,2.4,bat\n'
     '5,bull,7')

In [80]:
pd.read_csv(StringIO(data),usecols=['b','c'],index_col=False)

      b    c
0   2.4  bat
1  bull    7

In [81]:
##quoting and escaping character.
data='a,b\n"hello,\\"bob\\",nice to see",6'

In [82]:
pd.read_csv(StringIO(data),escapechar='\\')

                         a  b
0  hello,"bob",nice to see  6

In [83]:
## URLto csv:

In [84]:
df=pd.read_csv('url of file',sep="\t")

FileNotFoundError: [Errno 2] No such file or directory: 'urlof file'

In [ ]:
## read to json: